@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* login.css: Estilos para la página de inicio de sesión */

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estilos de fondo y centrado */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.gifer.com/KNNj.gif') no-repeat;
    background-size: cover;
    background-position: center;
}

/* Estilos del contenedor principal */
.wrapper {
    width: 500px;
    background: rgba(0, 0, 0, 0.705);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

/* Estilos del encabezado */
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

/* Estilos de los campos de entrada */
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* Estilos de los campos de entrada de texto */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

/* Estilos del texto de marcador de posición */
.input-box input::placeholder {
    color: #fff;
}

/* Estilos de los íconos en los campos de entrada */
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Estilos del botón de inicio de sesión */
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
